@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Chivo|Merienda+One&display=swap');
.card-img-top {

    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card{
    border: none;
}

.underline{
    width: 200px;
    height: 10px;
    background-color: blue;
    margin: 0 auto;
}
h1{
    font-family: 'Alfa Slab One', cursive;
}