{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Welcome to the world of Blogers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<style>
  h1 {
    background-image: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") ;
    background-size: 100%;
    height: 500px;
    width: 1200px;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
    padding-top: 200px ;
  }
  #mainNav {
  text-align: right;
  width:100%;
  background-color: lavender;
  }
#mainNav ul li {
  display: inline-block;
  list-style:none;
  padding-right: 20px;
}
#mainNav a {
  text-decoration: none;
  }
.subheading {
  font-size: 25px ;
}
</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.index')}}">Start Blogging</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.add')}}">Add Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.contact')}}">Contact</a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <!-- <li style="color:white;padding:15px;">{{current_user.username}}</li> -->

        <li class="dropdown"><a href="#" class="dropdown-toggle text-light" data-toggle="dropdown"><i
              class="fa fa-user"></i><strong class="ml-2">Welcome, {{current_user.username}}</strong> <b
              class="caret"></b></a>
          <ul class="dropdown-menu bg-dark text-center">

            <li><a href="{{url_for('main.profile',uname=current_user.username)}} " class="text-light "><i
                  class="icon-envelope"></i><strong>Your profile</strong></a></li>
            <li class="divider"></li>
            <div class="dropdown-divider"></div>
            <li><a href="{{url_for('auth.logout')}}" class="text-light "><i
                  class="fa fa-sign-out mr-2"></i><strong>Logout</strong></a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}" class="text-light"><i class="fa fa-sign-in mr-2"></i><strong>Sign
              In</strong></a></li>
        {%endif%}
      </ul>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead">

  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Where Bloggers Live</h1>
            <span class="subheading">Kindly drop a comment on a blog or write your own after signing up!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h2>Daily quote...</h2>
          </div>
          <div class="card-body">
            <blockquote class="blockquote text-center">
              <p class="mb-0">{{quotes.quote}}</p>
              <footer class="blockquote-footer"><cite>{{quotes.author}}</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg- col-md-6 mx- tex-center">
        {% for post in posts %}
        <div class="post-preview text-center">
          <a href="{{ url_for('main.post', post_id=post.id)}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by {{post.user.username}} on {{post.date.strftime('%B %d, %Y')}}</p>
        </div>
        <hr>
        {% endfor %}
        <hr>

      </div>
      <div class="col-md-3">
        <div class="w-50">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
          <form action="{{url_for('main.subscribe')}}" method="POST">
            <div class="form-group">
              <input type="email" form-control name="email" style="border-radius:10px;" placeholder="Enter email..."
                required>
            </div>
            <div class="form-group">
              <input type="submit" value="subscribe" form-control class="bg-danger text-light"
                style="border-radius:10px;">
            </div>

          </form>
        </div>


      </div>
    </div>
  </div>

  <hr>


</body>

</html>